<footer class="footer">
    <div class="footer__content">
        <div class="footer__item">
            <div class="footer__title">
                <h2>Intersted to woek with our team?</h2>
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam.
                </span>
            </div>
            <button class="open__modal">Let’s Talk</button>
        </div>
        <span class="footer__item_border"></span>
        <div class="footer__about">
            <div class="footer__block_item">
                <a class="footer__logo" href="">
                    <svg>
                        <use xlink:href="img/sprite.svg#logo-footer"></use>
                    </svg>
                    Afrianska
                </a>
                <div class="footer__info_block">
                    <div class="footer__info_items">
                        <label for="">A.</label>
                        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                    </div>
                    <div class="footer__info_items">
                        <label for="">T.</label>
                        <a href="">+62-812-7313-4321</a>
                    </div>
                    <div class="footer__info_items">
                        <label for="">E</label>
                        <a href="">hello.afrian@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="footer__block_item">
                <h3>About US</h3>
                <ul>
                    <li><a href="contact.html">About</a></li>
                    <li><a href="">What We Do</a></li>
                    <li><a href="">Project</a></li>
                    <li><a href="">How It Work With Us</a></li>
                </ul>
            </div>
            <div class="footer__block_item">
                <h3>Follow US</h3>
                <ul>
                    <li><a href="">Instagram</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">LinkedIn</a></li>
                    <li><a href="">Youtube</a></li>
                </ul>
            </div>
        </div>
        <span class="copyright">2019 © Afrianska. All rights reserved.</span>
    </div>
</footer> 
