<div class="header__nav">
    <a href="" class="logo header__logo" aria-label="Logo">
        <svg>
            <use xlink:href="img/sprite.svg#logo-header"></use>
        </svg>
    </a>
    <div class="burger__menu">
        <svg>
            <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
    </div>
    <div class="header__menu">
        <div class="header__menu_item">
            <ul class="li"><a href="index.html">Home</a></ul>
            <ul class="li"><a href="">Project</a></ul>
            <ul class="li"><a href="">Team</a></ul>
            <ul class="li"><a href="contact.html">Contacts</a></ul>
            <ul class="li"><a href="">About</a></ul>
        </div>
        <div class="header__close_menu">
            <svg>
                <use xlink:href="img/sprite.svg#close"></use>
            </svg>
        </div>
    </div>
</div>
