<header class="header">
    @include('header-nav.html')
    <div class="header__item">
        <div class="header__info">
            <h1>New Automation Tool for Your Home</h1>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Faucibus tristique vulputate ultrices ut mauris tellus at. 
                Posuere sollicitudin odio tellus elit.
            </span>
            <button>See Our Project</button>
        </div>
    </div>
</header>

