<section class="section section__item">
    <div class="section__items">
        <h2>What we do to help
            our client grow in
            digital era,
        </h2>
        <div class="section__card card__left">
                <img class="section__img" src="./img/card-img1.png" alt="" />
                <h3>Make Your business To Be Better Famous In Internet</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
                <a href="">Learn more
                <svg class="vector">
                    <use xlink:href="img/sprite.svg#vector"></use>
                </svg>
                </a>
        </div>
    </div>
    <div class="section__items">
        <div class="section__card card__right">
                <img class="section__img img__position" src="./img/card-img2.png" alt="" />
                <h3>Bring Technology To Your Comfrotable Home</h3>
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing
                     elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </span>
                <a href="">Learn more
                <svg class="vector">
                    <use xlink:href="img/sprite.svg#vector"></use>
                </svg>
                </a>
        </div>
        <div class="section__card card__right card__top">
            <img class="section__img" src="./img/card-img3.png" alt="" />
            <h3>Build Your Digital Product That Suitable For Your Need</h3>
            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
            <a href="">Learn more
            <svg class="vector">
                <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
            </a>
    </div>
    </div>
</section> 
