<section class="section__beloved beloved">
    <div class="beloved__block">
        <div class="beloved__info">
            <h2>Our Beloved Client</h2>
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do 
                eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam.
            </span>
        </div>
        <div class="beloved__table_client">
            <div class="beloved__items"><a href="">Logo Client 1</a></div>
            <div class="beloved__items"><a href="">Logo Client 2</a></div>
            <div class="beloved__items"><a href="">Logo Client 3</a></div>
            <div class="beloved__items"><a href="">Logo Client 4</a></div>
            <div class="beloved__items"><a href="">Logo Client 5</a></div>
            <div class="beloved__items"><a href="">Logo Client 6</a></div>
            <div class="beloved__items"><a href="">Logo Client 7</a></div>
            <div class="beloved__items"><a href="">Logo Client 8</a></div>
        </div>
    </div>
</section> 
