<section class="sendmsg sendmsg__block">
    <div class="sendmsg__contacts">
        <img src="./img/addres-bg.png" alt="" />
        <h3>Addres</h3>
        <span>Id convallis placerat sit sed duis 
            id amet volutpat quam a, pharetra.
        </span>
        <div class="contacts__block contacts">
            <h3>Phone</h3>
            <a href="" class="contacts__phone">
                <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                +62-812-7313-4321
            </a>
            <a href="" class="contacts__phone">
                <svg>
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                +62-817-000-1234
            </a>
        </div>
        <div class="contacts__block contacts">
            <h3>Online Service</h3>
            <a href="" class="contacts__world">
                <svg>
                    <use xlink:href="img/sprite.svg#world"></use>
                </svg>
                www.afrianska.com
            </a>
            <a href="" class="contacts__email">
                <svg>
                    <use xlink:href="img/sprite.svg#email"></use>
                </svg>
                hello.afrian@gmail.com
            </a>
        </div>
    </div>
    <div class="sendmsg__form">
        <form class="form" action="send.php" method="POST" onsubmit="return false;">
            <h3>Send Us Message</h3>
            <div class="sendmsg__inputs">
                <label class="label__name">Full Name</label>
                <input class="sendmsg__name" type="text" placeholder="Your Name" name="name">
                <label class="label__email">Email</label>
                <input class="sendmsg__email" type="email" placeholder="Your Email" name="email">
                <label class="label__message">Message</label>
                <textarea class="sendmsg__message" name="message" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
                <button class="sendmsg__submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section>
<iframe class="contact__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1916.6854658450256!2d61.4013359651304!3d55.159897539527826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5ed4d56af3e47%3A0xc8a5ef38293c4cf6!2z0J3QuNC60LjRgtC40L3RgdC60LjQuQ!5e0!3m2!1sru!2sru!4v1616095427099!5m2!1sru!2sru" height="480" style="border:0;" allowfullscreen="" loading="lazy">
</iframe>
