.contact{
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 49px;
    background-image: url('../img/contact-bg.png');
    background-repeat: no-repeat;
    background-position: center;

    @media (max-width: 688px){
        margin-top: 20px;
    }

    &__header{
        justify-content: space-evenly;

        & h1{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 44px;
            line-height: 74px;
            text-align: center;
            letter-spacing: 0.04em;
            font-weight: 600;
            color: $white;

            @media (max-width: 688px){
                font-size: 32px;
            }
        }

        & span{
            width: 55%;
            display: block;
            margin-top: -25px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            letter-spacing: 0.04em;
            opacity: 0.6;
            color: $white;

            @media (max-width: 490px){
                width: 100%;
            }
        }
    }
}