 .footer{
    width: 100%;
    position: relative;

    &__content{
        max-width: 100%;
        background-color: $azure;
        border-radius: 0px 200px 0px 0px;
        margin-right: 97px;
        padding-top: 91px;

        @media (max-width: 769px){
            border-radius: 0 100px 0px 0px;
            padding-top: 30px;
            margin-right: 30px;
        }
    }

    &__item_border{
        max-width: 100%;
        display: block;
        margin-right: 197px;
        border-bottom: 1px solid $silver;

        @media (max-width: 1100px){
            margin-right: 30px;
      }
    }

    &__item{
        max-width: 1130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 197px 0 auto;
        padding-bottom: 96px;
        padding-left: 212px;

        & button{
            width: 220px;
            padding: 15px 0;
            border: none;
            background: $danube;
            border-radius: 10px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease-in-out;

            &:hover{
                background: $biscay;
            }
        }

        @media (max-width: 1100px){
            padding-left: 0;
            padding-bottom: 60px;
            margin: 0 30px;
      }

        @media (max-width: 688px){
            flex-direction: column;
            align-items: center;
        }
    }

    &__title{
        display: flex;
        flex-direction: column;

        @media (max-width: 688px){
            align-items: center;
        }

    & h2{
        max-width: 350px;
        display: block;
        margin-bottom: 32px;
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: $white;

        @media (max-width: 688px){
            text-align: center;
            max-width: unset;
        }
    }

    & span{
        max-width: 480px;
        display: block;
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: $white;
        opacity: 0.6;

        @media (max-width: 688px){
            text-align: center;
            max-width: unset;
            margin-bottom: 30px;
        }
    }
    }

    &__about{
        max-width: 1130px;
        display: flex;
        justify-content: space-between;
        margin: 0 197px 0 auto;
        padding-left: 212px;
        padding-top: 96px;

        @media (max-width: 1280px){
            margin: 0 80px 0 auto;
        }

        @media (max-width: 1100px){
            padding-top: 60px;
            padding-left: 0;
            margin: 0 30px;
        }

        @media (max-width: 688px){
            flex-direction: column;
            align-items: center;
        }
    }

    &__block_item{
        display: flex;
        flex-direction: column;
        max-width: 270px;
        margin-right: 110px;

        & h3{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: $white;

            @media (max-width: 688px){
                text-align: center;
            }
        }

        & a{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 36px;
            letter-spacing: 0.05em;
            color: $white;
            transition: color 0.3s ease;

            &:hover{
                color: $hover-link;
            }
        }

        & ul{
            margin-top: 18px;

            @media (max-width: 688px){
                text-align: center;
            }
        }

        @media (max-width: 1100px){
            margin-right: 0;
        }

        @media (max-width: 688px){
            max-width: unset;
            width: 270px;
            margin-top: 30px;
        }
    }

    &__logo{
        display: flex;
        align-content: center;
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 28px;
        letter-spacing: 0.02em;
        font-weight: 600;
        color: $white;
        
        & svg{
            width: 48px;
            height: 32px;
            margin-right: 15px;
        }
    }

    &__info_block{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    &__info_items{
        display: inline-flex;

        & label{
            display: inline-block;
            margin-right: 30px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            font-weight: 600;
            color: $white;
        }

        & span{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: $white;
        }

        & a{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: $white;
        }

        &:nth-child(1n+2){
            margin-top: 24px;
        }
    }
 }

 .copyright{
    max-width: 1130px;
    display: block;
    margin: 64px 197px 0 auto;
    padding-bottom: 64px;
    padding-left: 212px;
    font-family: "Gilroy-Regular", sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: $white;
    opacity: 0.4;

    @media (max-width: 1100px){
        padding-left: 0;
        margin: 30px 30px 0 30px;
        text-align: center;
    }
 }


.footer__bg{
     position: relative;
 }
 
.footer__bg::before{
    display: block;
    content: '';
    width: 100%;
    position: absolute;
    background-color: $danube;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
}