.header{
    height: 768px;
    position: relative;
    background-image: url('../img/illustration.png');
    background-repeat: no-repeat;
    background-position: 76% 60%;
    background-size: 36%;

    @media (max-width: 688px){
        height: 550px;
        background-image: none;
    }

    &::after{
        display: block;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0) 31.12%);
        opacity: 0.2;
        z-index: -1;
    }

    &__item{
        max-width: $max-width;
        margin: 0 auto;
    }

    &__info{
        display: flex;
        flex-direction: column;
        max-width: 510px;
        margin-top: 90px;
        padding-left: 212px;

        @media (max-width: 688px){
            max-width: unset;
        }

        & h1{
            font-family: "Galien-Regular", sans-serif;
            font-size: 62px;
            line-height: 74px;
            letter-spacing: 0.04em;
            font-weight: 600;
            color: $biscay;

            @media (max-width: 688px){
                text-align: center;
                font-size: 50px;
            }

            @media (max-width: 490px){
                font-size: 40px;
            }

            @media (max-width: 405px){
                font-size: 34px;
            }
        }

        & span{
            display: block;
            max-width: 425px;
            margin-top: 25px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            font-weight: 500;
            color: $biscay;
            opacity: 0.6;

            @media (max-width: 688px){
                max-width: unset;
            }

            @media (max-width: 490px){
                margin-top: 10px;
            }
        }

        & button{
            width: 220px;
            margin-top: 80px;
            padding: 15px 48px;
            border: none;
            background: $danube;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            border-radius: 10px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: $white;
            cursor: pointer;
            transition: background 0.3s ease-in-out;

            @media (max-width: 688px){
                margin: 0 auto;
                margin-top: 50px;
            }

            &:hover{
                background: $biscay;
            }
        }

        @media (max-width: 1100px){
            padding-left: 0;
            margin-left: 40px;
            margin-right: 40px;
        }

        @media (max-width: 688px){
            margin-top: 20px;
        }

        @media (max-width: 490px){
            margin-top: 10px;
        }
    }

    &__menu{
        width: 360px;
        height: 100vh;
        display: block;
        position: fixed;
        right: -360px;
        top: 0;
        margin-top: 0;
        background: $white;
        transition: transform .3s ease-in-out;
    }

    &__active{
        overflow-y: auto;
        transform: translateX(-100%);
    }

    &__close_menu{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;

        & svg{
            width: 15px;
            height: 15px;
            transition: fill 0.2s ease-in-out;

            &:hover{
                fill: $danube;
            }
        }
    }

    &__menu_item{
        padding: 15px 0 15px 30px;

        & a{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 18px;
            line-height: 36px;
            letter-spacing: .05em;
            font-weight: 700;
            color: $biscay;
            transition: color .3s;

            &:hover{
                color: $hover-link;
            }
        }
    }

    @media (max-width: 1280px){
        background-position: 100% 60%;
    }
}

.header__nav{
    max-width: $max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 8px 0;
}

.logo{
    display: block;
    margin-left: 83px;

    svg{
        width: 48px;
        height: 32px;
    }

    @media (max-width: 1100px){
        margin-left: 40px;
    }
}

.burger__menu{
    display: block;
    margin-right: 84px;
    fill: $astral;
    transition: fill 0.3s ease-in-out;
    cursor: pointer;

    svg{
        width: 24px;
        height: 16px;
    }

    &:hover{
        fill: $danube;
    }

    @media (max-width: 1100px){
        margin-right: 40px;
    }
}

.header__menu{
    z-index: 3;
}

.close__menu{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: $black;
    opacity: 0.2;
}