.modal__window{
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.modal__window::before{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.5;
}

.modal__container{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 0;
    border-radius: 10px;
    transform: translate(-51%,-50%);
    background-color: $white;
    max-height: 100%;
    overflow: auto;
    z-index: 3;
}

.popup{
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;

    &__message{
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: 0;
        border: solid grey 1px;
        border-radius: 10px;
        transform: translate(-51%,-49%);
        padding: 20px;
        border-radius: 10px;
        background-color: $white;
    }
}

.form__modal{
    @media (max-width: 688px){
        padding: 26px 28px !important;
    }

    @media (max-width: 500px){
        margin: 20px !important;
    }
}
