 .section{
    padding: 185px 0 200px 95px;

    @media (max-width: 1100px){
        padding: 60px 0;
    }

    @media (max-width: 490px){
        padding: 40px 0;
    }

    &__item{
        display: flex;
        justify-content: space-evenly;

        @media (max-width: 1100px){
            justify-content: space-between;
        }

        @media (max-width: 860px){
            flex-direction: column;
            align-items: center;
            margin: 0 40px;
        }

        @media (max-width: 490px){
            margin: 0 20px;
        }
    }

    &__items{
        display: flex;
        flex-direction: column;

        & h2{
            display: block;
            margin-bottom: 150px;
            max-width: 358px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 34px;
            line-height: 46px;
            letter-spacing: 0.05em;
            color: $azure;
            
            @media (max-width: 860px){
                margin-bottom: 50px;
                text-align: center;
            }
        }
        
        .card__left{
            margin-left: 60px;

            @media (max-width: 1100px){
                margin-left: 0;
            }
        }

        .card__right{
            margin-right: 100px;

            @media (max-width: 1100px){
                margin-right: 40px;
            }

            @media (max-width: 860px){
                margin-right: 0;
                margin-top: 70px;
            }
        }

        .card__top{
            margin-top: 100px;

            @media (max-width: 860px){
                margin-top: 50px;
            }
        }

        @media (max-width: 1100px){
            margin-left: 30px;
        }

        @media (max-width: 860px){
            width: 100%;
            margin-left: 0;
            align-items: center;
        }

        @media (max-width: 380px){
            align-items: unset;
        }
    }

    &__card{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0;
        max-width: 284px;
        padding: 48px;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
        transition: all 0.2s ease;

        @media (max-width: 490px){
            padding: 24px;
        }

        & h3{
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: $biscay;
            font-weight: 900;
        }

        & span{
            display: block;
            margin-top: 16px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: $biscay;
            opacity: 0.6;
        }

        & a{
            display: flex;
            align-items: center;
            margin-top: 30px;
            position: relative;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: $danube;
            transition: all  0.3s ease-in-out;

            & .vector{
                width: 16px;
                height: 16px;
                margin-left: 25px;
                transition: transform  0.3s ease;
            }

            &:hover{
                color: $biscay;
            }

            &:hover  > .vector{
                transform: rotate3d(0, 12, -1, 180deg) translateX(-15px);
                fill: $biscay;
            }
        }

            &:hover{
                color: $matisse;
            }

        &:hover{
            position: relative;
            transform: translateY(-20px);
            box-shadow: 5px 20px 50px rgba(16,112,177,.5);
            cursor: pointer;
        }

        .img__position{
            position: relative;
            top: -70px;
            max-width: 224px;
            height: 185px;
            margin-bottom: -30px;
        }

        .vector{
            fill: $danube;
        }
    }

    &__img{
        max-width: 182px;
        height: 132px;
        margin-bottom: 53px;
        margin-left: 25px;
    }
 }