 .beloved{
    padding-top: 96px;
    padding-bottom: 120px;
    background-color: $danube;
    border-radius: 200px 0px 0px 0px;

    @media (max-width: 1100px){
      padding-bottom: 60px;
   }

   @media (max-width: 769px){
      border-radius: 100px 0px 0px 0px;
      padding-top: 30px;
   }

    &__block{
       max-width: 1154px;
       margin: 0 auto;
       padding-left: 212px;

         @media (max-width: 1100px){
            padding-left: 0;
            margin: 0 30px;
      }
    }

    &__info{
      width: 75%;
      display: flex;
      justify-content: space-between;


      @media (max-width: 688px){
         flex-direction: column;
         align-items: center;
     }

      & h2{
         font-family: "Gilroy-Regular", sans-serif;
         font-size: 36px;
         line-height: 46px;
         letter-spacing: 0.05em;
         color: $white;

         @media (max-width: 688px){
            text-align: center;
        }
      }

      & span{
         display: block;
         max-width: 540px;
         margin-left: 20px;
         font-family: "Gilroy-Regular", sans-serif;
         font-size: 16px;
         line-height: 26px;
         letter-spacing: 0.05em;
         color: $white;
         opacity: 0.6;
      }

      @media (max-width: 1100px){
         width: 100%;
      }
}

   &__table_client{
      max-width: 940px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 100px;

      @media (max-width: 1100px){
         margin: 50px auto 0;
      }

      @media (max-width: 688px){
         grid-template-columns: repeat(2, 1fr);
     }
   }

   &__items{
      max-width: 235px;
      height: 128px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px $silver;
      border-left: unset;
      border-bottom: unset;
      z-index: 2;

      @media (max-width: 688px){
         max-width: unset;
         border: solid 1px $silver;
     }

      & a{
         width: 100%;
         height: 128px;
         display: flex;
         justify-content: center;
         align-items: center;
         position: relative;
         font-family: "Gilroy-Regular", sans-serif;
         font-size: 20px;
         line-height: 46px;
         letter-spacing: 0.02em;
         font-weight: 600;
         text-transform: uppercase;
         color: $white;

         @media (max-width: 688px){
            font-size: unset;
        }

         &:hover:before{
            background-color: $steel-blue;
            display: block;
            content: 'More Client';
            position: absolute;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 20px;
            line-height: 46px;
            letter-spacing: 0.02em;
            color: $white;
            text-transform: none;
            cursor: pointer;
            z-index: 2;

            @media (max-width: 688px){
               font-size: unset;
           }
         }

         &:hover:after{
            background-color: $steel-blue;
            display: block;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            cursor: pointer;
         }
      }

      &:nth-child(-n+4){
         border-top: solid 1px transparent;

         @media (max-width: 688px){
            max-width: unset;
            border: solid 1px $silver;
        }
      }

      &:nth-child(4n){
         border-right: unset;

         @media (max-width: 688px){
            max-width: unset;
            border: solid 1px $silver;
        }
      }

      &:nth-child(2n){

         @media (max-width: 688px){
            max-width: unset;
            border: solid 1px $silver;
            border-top: unset;
            border-right: unset;
            border-left: unset;
        }
      }

      &:nth-child(2n+1){

         @media (max-width: 688px){
            max-width: unset;
            border: solid 1px $silver;
            border-top: unset;
            border-left: unset;
        }
      }

      &:nth-child(7){

         @media (max-width: 688px){
            max-width: unset;
            border-bottom: unset;
        }
      }

      &:nth-child(8){

         @media (max-width: 688px){
            max-width: unset;
            border-bottom: unset;
        }
      }
   }
}

