.sendmsg{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 90px;

    &__block{
        max-width: 940px;

        @media (max-width: 1000px){
            margin: 0 40px;
        }

        @media (max-width: 960px){
            flex-direction: column;
            align-items: center;
        }

        & a{
            transition: all 0.3s ease-in-out;
        }

        & svg{
            fill: $bermuda-gray;
            transition: all 0.3s ease-in-out;
        }

        & a:hover{
            color: $hover-link;

            & svg{
                fill: $hover-link;
            }
        }
    }

    &__contacts{
        max-width: 320px;

        & img{
            display: block;
            margin-top: 60px;
            margin-bottom: 70px;
            margin-left: auto;

            @media (max-width: 688px){
                margin-top: 0;
            }
        }

        & h3{
            display: block;
            margin-bottom: 25px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $biscay;

            @media (max-width: 688px){
                text-align: center;
            }
        }

        & span{
            display: block;
            margin-bottom: 40px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.04em;
            color: $bermuda-gray;
        }
    }

    &__form{
        margin-top: 30px;

        @media (max-width: 688px){
            width: 100%;
        }

        & h3{
            display: block;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: $biscay;

            @media (max-width: 688px){
                text-align: center;
            }
        }

        & form{
            max-width: 428px;
            display: flex;
            flex-direction: column;
            padding: 56px 58px 56px 58px;
            box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;

            @media (max-width: 688px){
                margin: 0 auto;
            }

            @media (max-width: 490px){
                padding: 24px;
            }
        }

        & label{
            margin-bottom: 8px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: $biscay;
            opacity: 0.8;
        }
    }

    &__inputs{
        display: flex;
        flex-direction: column;
        margin-top: 48px;

        & input, textarea{
            max-width: 428px;
            opacity: 0.4;
            border: 1px solid $astral;
            box-sizing: border-box;
            border-radius: 10px;
            font-family: "Gilroy-Regular", sans-serif;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: $biscay;
            opacity: 0.2;
            transition: all 0.2s ease-in-out;

            &:focus{
                border: solid $biscay 1px;
                opacity: 1;
                transition: border opacity 0.3s ease-in-out;
            }
        }

        & input{
            padding: 21px 36px;
            margin-bottom: 32px;
        }

        & textarea{
            max-height: 150px;
            padding: 21px 36px;
        }
    }

    &__submit{
        margin-top: 72px;
        background: $danube;
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        padding: 21px 36px;
        border-radius: 10px;
        opacity: 1 !important;
        border: none !important;
        font-size: 16px !important;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: $white !important;
        font-weight: 800;
        text-transform: uppercase;
        cursor: pointer;
        transition: background 0.3s ease-in-out;

        &:hover{
            background: $biscay;
        }
    }
}

.contacts{
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    & h3{
        display: block;
        margin-bottom: 28px;
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $biscay;
    }

    & a{
        font-family: "Gilroy-Regular", sans-serif;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: $bermuda-gray;
    }

    &__phone{
        display: flex;
        align-items: center;

        & svg{
            width: 20px;
            height: 20px;
            margin-right: 19px;
        }

        &:nth-child(3){
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }

    &__world{
        display: flex;
        align-items: flex-end;

        & svg{
            width: 24px;
            height: 24px;
            margin-right: 19px;
        }
    }

    &__email{
        display: flex;
        align-items: flex-end;
        margin-top: 16px;

        & svg{
            width: 24px;
            height: 24px;
            margin-right: 19px;
        }
    }
}

.contact__map{
    width: 68.9%;;
    display: flex;
    margin: 0 auto;
    padding-bottom: 90px;

    @media (max-width: 960px){
        width: 92%;
    }
}