$max-width: 1366px;
$white: #fff;
$black: #000;
$biscay: #1F3F68;
$danube: #5A98D0;
$matisse: #145590;
$azure: #316099;
$silver: #c2c2c2;
$concrete: #f2f2f2;
$steel-blue: #4e87bb;
$bermuda-gray: #798CA4;
$astral: #356EAD;
$hover-link: #98C3E8;