@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'header';
@import 'section-item';
@import 'section-beloved';
@import 'contact';
@import 'sendmsg';
@import 'modal-win';
@import 'footer';

html{
    height: 100%;
}

body{
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

.container{
    max-width: $max-width;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

input:focus,
textarea:focus,
select:focus,
button:focus{
    outline: none;
}